<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>food</string>
		<key>video</key>
		<string>toystory</string>
		<key>videoType</key>
		<string>mp4</string>
		<key>hls</key>
		<string>http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4</string>
		<key>title</key>
		<string>Food</string>
		<key>description</key>
		<string>description</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>theater</string>
		<key>video</key>
		<string>sample</string>
		<key>videoType</key>
		<string>m4v</string>
		<key>hls</key>
		<string>http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4</string>
		<key>title</key>
		<string>Theater</string>
		<key>description</key>
		<string>description</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>car</string>
		<key>video</key>
		<string>toystory</string>
		<key>videoType</key>
		<string>mp4</string>
		<key>hls</key>
		<string>http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4</string>
		<key>title</key>
		<string>Car</string>
		<key>description</key>
		<string>description</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>family</string>
		<key>video</key>
		<string>sample</string>
		<key>videoType</key>
		<string>m4v</string>
		<key>hls</key>
		<string>http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4</string>
		<key>title</key>
		<string>Family</string>
		<key>description</key>
		<string>description</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>studies</string>
		<key>video</key>
		<string>toystory</string>
		<key>videoType</key>
		<string>mp4</string>
		<key>hls</key>
		<string>http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4</string>
		<key>title</key>
		<string>Studies</string>
		<key>description</key>
		<string>description</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>business</string>
		<key>video</key>
		<string>sample</string>
		<key>videoType</key>
		<string>m4v</string>
		<key>hls</key>
		<string>http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4</string>
		<key>videoType - 2</key>
		<string>mp4</string>
		<key>title</key>
		<string>Business</string>
		<key>description</key>
		<string>description</string>
	</dict>
</array>
</plist>
